[tool.poetry]
name = "pyboinc"
version = "0.10.0"
description = "Python API for interacting with a BOINC client via RPC"
authors = ["Lewis England"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
xmltodict = "^0.13.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
black = "^22.12.0"
isort = "^5.11.4"
pytest-mock = "^3.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
